<% if can? :create, Asiento %>
  <div id="ver_apuntes">

  <p>Ver apuntes de las cuentas</p>
  <%= form_tag asientos_path, :method => "get" do  %>
    <%= radio_button_tag(:cuentum_id, "1",:checked => true) %>
    <%= label_tag(:cuentum_id_1, "Caja chica") %><br />
    <%= radio_button_tag(:cuentum_id, "2") %>
    <%= label_tag(:cuentum_id_2, "Banco") %><br /> 
	<!-- 
    <%= radio_button_tag(:cuentum_id, "3") %>
    <%= label_tag(:cuentum_id_3, "Efectivo") %><br /> 
		-->
    <%= button_tag 'Ver cuenta' %>
  <% end %>
  </div>
<% end %>

<div id="ver_mes">
    <p>Ver resumen mensual</p>
    <%= form_tag look_at_month_path, :controller => "cuenta",:method => "get" do  %>
    <%= select_month(Date.today) %>
    <%= select_year(Date.today) %>
    <%= button_tag 'Ver ' %>
  <% end %>
</div>

<% if can? :create, Asiento %>
  <div id="new_apunte">
    <p>Añadir apuntes a las cuentas</p>
    <%= form_tag new_asiento_path, :method => "get" do  %>
      <%= radio_button_tag(:cuentum_id, "1",:checked => true) %>
      <%= label_tag(:cuentum_id_1, "Caja chica") %><br />
      <%= radio_button_tag(:cuentum_id, "2") %>
      <%= label_tag(:cuentum_id_2, "Banco") %><br />
	    <!-- 
      <%= radio_button_tag(:cuentum_id, "3") %>
      <%= label_tag(:cuentum_id_3, "Efectivo") %><br /> 
			-->
      <p><%= button_tag 'Añadir apunte' %></p>
   <% end %>
  </div>
<% end %>
